<div id="burgerLists">
	{{id}}.   {{name}}

{{#if devoured}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		Devour it!
	</button>
	{{/if}}

{{#unless devoured}}
	<button class="delete-burger" data-id="{{this.id}}">
		DELETE!
	</button>
	{{/unless}}
</div>
